@import"main.css";
:root{
    /* Mode clair */
    ---primary-text-color: #202124;

    ---text-tittle-color: #1a73e8;

    ---gold:#fac028;

    ---color-link: #5f6368;

    ---color-link-hover: #1a73e8;

    ---color-project-link: #6bcefe;

    ---description: #8ab4f8;

    ---background-body: #fff;

    ---box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.1);

    ---box-shadow-hover: 0 6px 12px rgba(19, 70, 138, 0.3);
    ---boot-border-btn:#91cafc;
    

    /* footer */
    ---text-color-footer: #9aa0a6;
    ---border-top: #e0e0e0;

    /* Mode sombre */
    ---dark-logo: #8ab4f8;
    ---background: #202124;
    ---color: #e8eaed;
    ---dark-tittle-color: #8ab4f8;
    ---background-nav: #303134;
    ---dark-border-color-nav: #5f6368;
    ---dark-link-hover: #cea0fc;
    ---dark-link-hover: #8ab4f8;
    ---dark-description: #cfd8dc;
    ---dark-box-shadow: 0 1px 1.5px rgba(255, 255, 255, 0.1);
    ---dark-footer-color: #70757a;
    ---dark-footer-border-color: #5f6368;

}

.btn-h-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5px;
    border-radius: 5px;
    min-width: 21px;
    padding: 0.6rem 0.7rem;
    min-width: 20px;
    border: 3px solid transparent;
    /* transition: border 0.3s ease-in; */
}

.btn-h-primary:hover {
    min-width: 20px;
    /* padding: 0.5rem 0.6rem; */
    outline: 4px solid rgba(104, 185, 255, 0.63);

}

.h {
    background-color: #635f5f;
    margin: 0;
    min-width: 20px;
    height: 2px;
}

.btn-h-.btn-h-primary>.h {
    background-color: #4e4848;
    transition: background-color 0.3s ease;
}


}
btn-h{
  paddind: 0.5rem 3rem
